<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <a href="/home">Go, return, in reverse, to home, your domecile</a>
    </div>
    <br />
    <div>
      <a href="/home2"
        >Go, return, in reverse, to home, your domecile the second</a
      >
    </div>
    <br />
    <div><a href="/alvin">Learn about our lord, the redund man himself</a></div>
    <br />
    <div>
      <a href="/alvin2">Learn about our lord, the redund man himself again</a>
    </div>
    <br />
    <h1>Redundancy</h1>
    <p>
      Redundancy is the unnecessary use of either needless, tautological,
      pleonastic, superfluous or unnecessary text, by which one repeats, in
      duplication, the same, identical, aforesaid things over and over and over
      and over and over again, beyond what would be needed or required to
      explain, or make comprehensible, the intended or signified meaning of that
      which one wishes to convey. These things can be and most likely will be
      referred to as being redundant. Usually, it is often common in redundancy
      to repeat, sometimes with different phrasing or words, the same idea or
      reasoning, thus restating one's thoughts, sometimes paraphrasing oneself
      and effectively saying the same thing twice, or double, or thrice, or
      three times, or triply so, or a small handful of times, or any number of
      excessive, unnecessary restatements greater than zero (none).
    </p>
  </body>
</html>
