<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <a href="/home">Go, return, in reverse, to home, your domecile</a>
    </div>
    <br />
    <div>
      <a href="/home2"
        >Go, return, in reverse, to home, your domecile the second</a
      >
    </div>
    <br />
    <div><a href="/alvin">Learn about our lord, the redund man himself</a></div>
    <br />
    <div>
      <a href="/alvin2">Learn about our lord, the redund man himself again</a>
    </div>
    <br />
    <h1>Lord Alvin Redund the second</h1>
    <img src="/imgs/225px-RedundRedund.jpg" alt="" />
    <p>
      In the year 1734, which was called Seventeen Thirty-Four, or the Year of
      Our Lord 1734, or the Year 1146 of the Islamic Calendar, Lord Alvin Redund
      wrote a correspondence missive letter (or a written, authored, dictated or
      typed message or statement addressed to a person, man, woman, child, kid,
      retiree, criminal, employee or organization, group, business, and so on
      and so forth, etc.) that was excessively repetitive to the point of being
      repetitively excessive. The wording was superfluous, repetitive, and
      excessive. In the times following, and subsequently, and afterwards, all
      things, items, speech, text, stuff, and things that are repetitive,
      superfluous, or excessive are called, named, or otherwise denoted as
      Redundant, because, due to, and as a direct result of Lord Redund's text
      contained within his correspondence missive letter.
    </p>
  </body>
</html>
